body{margin: 0; padding: 0;}

.linkBody{height: 100vh; border-right: solid 4px; background: blue;}
/*.linkBox{height: 85vh; width: 145px; background: red; position: sticky;}*/
.body{height: 200vh; border: solid 1px; background: grey;}
